.pHover{
	background: orangered;
	padding: 20px;
	width: 250px;
	transition: 0.4s;
	display: inline-flex;
}

.pHover:hover{
	transform: scale(1.2);
}

#main{
	width:90%;
	background-color:rgba(0,255,0,0.3);
	padding:1em;
	margin:0 auto;
	text-align:center;
}

ul{
	list-style-type: none;
}

ul li{
	margin-bottom: 1em;
}
