$facebook-blue: #3b5998;
$twitter-lightblue: #1da1f2;
$android: #a4c639;
.pHover{
	background: orangered;
	padding: 20px;
	width: 250px;
	transition: 0.4s;
	display: inline-flex;
}

.pHover:hover{
	transform: scale(1.2);
}

#main{
	width:90%;
	background-color:rgba(0,255,0,0.3);
	padding:1em;
	margin:0 auto;
	text-align:center;
}
.fa-facebook-square{
	color:$facebook-blue;
}
.fa-twitter{
	color: $twitter-lightblue;
}
.fa-android{
	color: $android;
}

